
@{
    ViewBag.Title = "BookMeeting";
}
<style>
    .booking_card_area {
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        -khtml-transition: all 0.3s linear;
        transition: all 0.3s linear;
    }
    .booking_checkbox:checked ~ .single_booking_card {
        box-shadow: 0px 0px 0px 6px #0064fa;
    }
    .booking_card_area {
        position: relative;
        margin-bottom: 30px;
    }
    .booking_checkbox {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        z-index: 999;
        cursor: pointer;
    }
    .btn_Detail{
        top:0;
        left:0;
        transform:rotate(90deg) translate(15%,90% );
       
    }
</style>
<div class="container">
    <h1>Please File Form</h1>
    <form method="POST" >
        <div class="row">
            <div class="col-3 ms-5">
                <label for="client_fname" class="form-label fs-4">First Name:</label>
                <input type="text" class="form-control" id="client_fname" placeholder="Enter First Name" name="client_fname">
            </div>
            <div class="col-3 ms-5">
                <label for="client_lname" class="form-label fs-4">Last Name:</label>
                <input type="text" class="form-control" id="client_lname" placeholder="Enter First Name" name="client_lname">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-3 ms-5">
                <label for="client_phone" class="form-label fs-4">Phone :</label>
                <input type="text" class="form-control" id="client_phone" placeholder="Enter First Name" name="client_phone">
            </div>
            <div class="col-5 ms-5">
                <label for="client_TimeDate" class="form-label fs-4">Choose Date And Time :</label>
                @{
                    var currentDate = DateTime.Now.ToString("yyyy-MM-ddTHH:mm");
                }
                <input class="form-control" id="client_TimeDate"
                       type="datetime-local"
                       name="client_TimeDate"
                       value=@currentDate
                       min=@currentDate />
            </div>
        </div>
        <h2 class="mt-4">Please Choose Our Local Place :</h2>
        <p class="ms-3 mb-4">We encourge you to explore local community.</p>
        <div class="row">
            <div class="col-xxl-3 col-xl-4 position-relative">
                <div class="booking_card_area ">
                    <input class="booking_checkbox" type="radio" id="2" value="2" name="fav_language" />
                    <div class="single_booking_card card" style="width: 18rem;">
                        <img src="~/Content/photo_property/1001_01.jpg" class="card-img-top" alt="Property Image" />
                        <div class="card-body">
                            <h5 class="card-title">Restaurant1</h5>
                            <p class="card-text">Some quick example text for card 1.</p>
                        </div>
                    </div>
                </div>
                <a href="/Home/BookMeet/RestaurantDetail/1" class="btn btn-primary position-absolute btn_Detail px-1 py-1">Detail</a>
            </div>

            <div class="col-xxl-3 col-xl-4 position-relative">
                <div class="booking_card_area ">
                    <input class="booking_checkbox" type="radio" id="2" value="2" name="fav_language" />
                    <div class="single_booking_card card" style="width: 18rem;">
                        <img src="~/Content/photo_property/1001_01.jpg" class="card-img-top" alt="Property Image" />
                        <div class="card-body">
                            <h5 class="card-title">Restaurant2</h5>
                            <p class="card-text">Some quick example text for card 1.</p>
                        </div>
                    </div>
                </div>
               
            </div>

            <div class="col-xxl-3 col-xl-4 position-relative">
                <div class="booking_card_area ">
                    <input class="booking_checkbox" type="radio" id="2" value="2" name="fav_language" />
                    <div class="single_booking_card card" style="width: 18rem;">
                        <img src="~/Content/photo_property/1001_01.jpg" class="card-img-top" alt="Property Image" />
                        <div class="card-body">
                            <h5 class="card-title">Restaurant3</h5>
                            <p class="card-text">Some quick example text for card 1.</p>
                        </div>
                    </div>
                </div>
              
            </div>

            <div class="col-xxl-3 col-xl-4 position-relative">
                <div class="booking_card_area ">
                    <input class="booking_checkbox" type="radio" id="2" value="2" name="fav_language" />
                    <div class="single_booking_card card" style="width: 18rem;">
                        <img src="~/Content/photo_property/1001_01.jpg" class="card-img-top" alt="Property Image" />
                        <div class="card-body">
                            <h5 class="card-title">fghgf</h5>
                            <p class="card-text">Some quick example text for card 1.</p>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
        <div class="row justify-content-end">
             <button type="submit" class="btn btn-primary w-25 ">Submit</button>
        </div>
    </form>
    
</div>
